@font-face {
	font-family: "Source Sans Pro";
	src: url('SourceSansPro-Light.ttf');
}

body {
	margin: 0;
	padding: 0;
	font-family: "Source Sans Pro";
	color: #333;
	background-color: #fffffd;
	background-image: url('../img/header.svg');
	background-size: 10%;
	background-repeat: repeat-x;
	width: 100%;
	-webkit-user-select: none;
}

.exit {
	border-top: 0;
	border-left: 1px black solid;
	border-right: 1px black solid;
	border-bottom: 1px black solid;
	font-family: sans;
	font-weight: bold;
	margin: 0;
	position: fixed;
	top: 0;
	right: 10px;
	background: red;
	color: white;
	padding: 2px 20px 2px 20px;
	border-radius: 0 0 3px 3px;
	-webkit-transition: all 0.25s ease-in-out;
}

.exit:hover {
	box-shadow: inset 0 0 5px #333;
}

.devbuild {
	font-size: 0.8em;
	position: fixed;
	bottom: 5px;
	right: 5px;
}

.container {
	background-color: #fffffd;
	width: 70%;
	margin-top: 10%;
	margin-left: 15%;
	height: 90%;
}

h1 {
	font-size: 3em;
}

.colored {
	margin: 0;
	margin-top: -3%;
	height: 2px;
	width: 100%;
	background-image: -webkit-linear-gradient(left, red, orange, yellow, green, blue, indigo, violet);
}

.button {
	border: 2px #4682B4 solid;
	padding: 8px;
	font-size: 1.3em;
	color: white;
	background: #4682B4;
	-webkit-transition: all 0.25s ease-in-out;
}

.button:hover {
	border: 2px #333 solid;
}

#page1 {
	position: fixed;
	z-index: 100;
}

#page2 {
	position: fixed;
	z-index: 99;
}

.desktop-overview {
	text-align: center;
	margin-bottom: 10px;
}

.desktop-overview > img {
	margin: 0;
	display: inline-block;
	width: 19%;
}

#page3 {
	position: fixed;
	z-index: 98;
}
